USE [master]
GO
/****** Object:  Database [StudentInformationManagementSystem]    Script Date: 28/05/2026 01:04:01 ******/
CREATE DATABASE [StudentInformationManagementSystem]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentInformationManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentInformationManagementSystem]
GO
/****** Object:  Table [dbo].[SEMESTERS]    Script Date: 28/05/2026 01:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTERS](
	[semester_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_current] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[semester_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[programme_id] [int] NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[status] [varchar](20) NOT NULL,
	[intake_semester_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_student_semester]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* 5. Derivation view.
      current_semester_no = (rank of current term) - (rank of intake term) + 1,
      ranked chronologically, floored at 1, CAST to INT so callers read Int32. */
CREATE   VIEW [dbo].[vw_student_semester] AS
WITH ordered AS (
    SELECT semester_id,
           is_current,
           ROW_NUMBER() OVER (ORDER BY start_date, semester_id) AS seq
    FROM dbo.SEMESTERS
),
cur AS (
    SELECT seq AS current_seq FROM ordered WHERE is_current = 1
)
SELECT s.student_id,
       s.intake_semester_id,
       intake.seq      AS intake_seq,
       cur.current_seq,
       CAST(CASE WHEN cur.current_seq - intake.seq + 1 < 1 THEN 1
                 ELSE cur.current_seq - intake.seq + 1 END AS INT) AS current_semester_no
FROM dbo.STUDENTS s
JOIN ordered intake ON intake.semester_id = s.intake_semester_id
    -- Assumes exactly one SEMESTERS row has is_current = 1. If none, the view
    -- returns no rows; if more than one, students would appear duplicated.
    CROSS JOIN cur;

GO
/****** Object:  Table [dbo].[ACADEMIC_CALENDAR]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACADEMIC_CALENDAR](
	[calendar_id] [int] IDENTITY(1,1) NOT NULL,
	[semester_id] [int] NOT NULL,
	[event_type] [varchar](50) NOT NULL,
	[event_name] [varchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calendar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENT_TARGETS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOUNCEMENT_TARGETS](
	[target_id] [int] IDENTITY(1,1) NOT NULL,
	[announcement_id] [int] NOT NULL,
	[offering_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[target_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENTS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOUNCEMENTS](
	[announcement_id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[content] [text] NOT NULL,
	[file_url] [varchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[is_pinned] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSESSMENTS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSESSMENTS](
	[assessment_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[weight] [decimal](5, 2) NOT NULL,
	[max_marks] [int] NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assessment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSIGNMENTS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNMENTS](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[due_date] [date] NOT NULL,
	[file_url] [varchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[weight] [decimal](5, 2) NULL,
	[assignment_type] [varchar](20) NULL,
	[group_size] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[enrolment_id] [int] NOT NULL,
	[attendance_date] [date] NOT NULL,
	[status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTH_TOKENS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTH_TOKENS](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [varchar](64) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AUTH_TOKENS] PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_MATERIALS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_MATERIALS](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[week] [int] NULL,
	[file_url] [varchar](255) NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
	[module_id] [int] NULL,
	[file_type] [varchar](20) NULL,
	[file_size_bytes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_OFFERINGS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_OFFERINGS](
	[offering_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[semester_id] [int] NOT NULL,
	[capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [varchar](100) NOT NULL,
	[course_code] [varchar](20) NOT NULL,
	[programme_id] [int] NOT NULL,
	[credit_hours] [int] NOT NULL,
	[color] [varchar](7) NULL,
	[description] [varchar](500) NULL,
	[level_label] [varchar](50) NULL,
	[mode] [varchar](50) NULL,
	[contact_hours] [varchar](50) NULL,
	[prerequisites] [varchar](100) NULL,
	[textbook] [varchar](150) NULL,
	[office_hours] [varchar](100) NULL,
	[fee_per_credit] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAILS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAILS](
	[email_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[recipient_email] [varchar](100) NOT NULL,
	[subject] [varchar](255) NOT NULL,
	[body] [text] NOT NULL,
	[email_type] [varchar](30) NOT NULL,
	[otp_code] [varchar](10) NULL,
	[otp_expires_at] [datetime2](7) NULL,
	[sent_at] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENROLMENTS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLMENTS](
	[enrolment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[offering_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[enrolment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[enrolment_id] [int] NOT NULL,
	[marks] [decimal](5, 2) NULL,
	[gpa] [decimal](3, 2) NULL,
	[grade] [varchar](2) NULL,
	[published] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEARNING_OUTCOMES]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEARNING_OUTCOMES](
	[outcome_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[outcome_text] [varchar](255) NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[outcome_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LECTURERS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTURERS](
	[lecturer_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[department] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lecturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULES]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULES](
	[module_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[week] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION_READS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION_READS](
	[user_id] [int] NOT NULL,
	[announcement_id] [int] NOT NULL,
	[read_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NOTIFICATION_READS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[enrolment_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[payment_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMMES]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMMES](
	[programme_id] [int] IDENTITY(1,1) NOT NULL,
	[programme_name] [varchar](100) NOT NULL,
	[programme_code] [varchar](20) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[programme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_ASSESSMENTS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_ASSESSMENTS](
	[student_assessment_id] [int] IDENTITY(1,1) NOT NULL,
	[assessment_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[marks] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_assessment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBMISSIONS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBMISSIONS](
	[submission_id] [int] IDENTITY(1,1) NOT NULL,
	[assignment_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[file_url] [varchar](255) NOT NULL,
	[submit_date] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[marks] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[submission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHINGS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHINGS](
	[teaching_id] [int] IDENTITY(1,1) NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[offering_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teaching_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMETABLES]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMETABLES](
	[timetable_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[venue] [varchar](100) NOT NULL,
	[day_of_week] [varchar](50) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 28/05/2026 01:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[phone] [varchar](20) NULL,
	[mailing_address] [varchar](255) NULL,
	[icon_path] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACADEMIC_CALENDAR] ON 

INSERT [dbo].[ACADEMIC_CALENDAR] ([calendar_id], [semester_id], [event_type], [event_name], [start_date], [end_date]) VALUES (1, 3, N'REGISTRATION', N'Course Registration', CAST(N'2026-01-05' AS Date), CAST(N'2026-01-12' AS Date))
INSERT [dbo].[ACADEMIC_CALENDAR] ([calendar_id], [semester_id], [event_type], [event_name], [start_date], [end_date]) VALUES (2, 3, N'HOLIDAY', N'Mid-Semester Break', CAST(N'2026-03-09' AS Date), CAST(N'2026-03-15' AS Date))
INSERT [dbo].[ACADEMIC_CALENDAR] ([calendar_id], [semester_id], [event_type], [event_name], [start_date], [end_date]) VALUES (3, 3, N'EXAM', N'Final Examinations', CAST(N'2026-04-20' AS Date), CAST(N'2026-04-30' AS Date))
SET IDENTITY_INSERT [dbo].[ACADEMIC_CALENDAR] OFF
GO
SET IDENTITY_INSERT [dbo].[ANNOUNCEMENT_TARGETS] ON 

INSERT [dbo].[ANNOUNCEMENT_TARGETS] ([target_id], [announcement_id], [offering_id]) VALUES (1, 2, 1)
INSERT [dbo].[ANNOUNCEMENT_TARGETS] ([target_id], [announcement_id], [offering_id]) VALUES (2, 2, 2)
INSERT [dbo].[ANNOUNCEMENT_TARGETS] ([target_id], [announcement_id], [offering_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[ANNOUNCEMENT_TARGETS] OFF
GO
SET IDENTITY_INSERT [dbo].[ANNOUNCEMENTS] ON 

INSERT [dbo].[ANNOUNCEMENTS] ([announcement_id], [created_by], [title], [content], [file_url], [created_at], [is_pinned]) VALUES (1, 2, N'Welcome to Semester 2026-S1', N'Classes begin on 12 January 2026. Check your timetable.', NULL, CAST(N'2026-01-08T09:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[ANNOUNCEMENTS] ([announcement_id], [created_by], [title], [content], [file_url], [created_at], [is_pinned]) VALUES (2, 3, N'Assignment 1 Released', N'Assignment 1 for CS101 is now available. Due 15 Feb.', NULL, CAST(N'2026-01-20T15:30:00.0000000' AS DateTime2), 1)
INSERT [dbo].[ANNOUNCEMENTS] ([announcement_id], [created_by], [title], [content], [file_url], [created_at], [is_pinned]) VALUES (3, 2, N'Campus Maintenance Notice', N'Library will close early on 9 March for maintenance.', NULL, CAST(N'2026-03-05T11:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ANNOUNCEMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ASSESSMENTS] ON 

INSERT [dbo].[ASSESSMENTS] ([assessment_id], [offering_id], [name], [type], [weight], [max_marks], [sort_order]) VALUES (6, 1, N'Quiz 1 - Basics', N'Quiz', CAST(5.00 AS Decimal(5, 2)), 100, 1)
INSERT [dbo].[ASSESSMENTS] ([assessment_id], [offering_id], [name], [type], [weight], [max_marks], [sort_order]) VALUES (7, 1, N'Quiz 2 - Control Flow', N'Quiz', CAST(5.00 AS Decimal(5, 2)), 100, 2)
INSERT [dbo].[ASSESSMENTS] ([assessment_id], [offering_id], [name], [type], [weight], [max_marks], [sort_order]) VALUES (8, 1, N'Lab Assignment', N'Assignment', CAST(10.00 AS Decimal(5, 2)), 100, 3)
SET IDENTITY_INSERT [dbo].[ASSESSMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ASSIGNMENTS] ON 

INSERT [dbo].[ASSIGNMENTS] ([assignment_id], [offering_id], [lecturer_id], [title], [description], [due_date], [file_url], [created_at], [weight], [assignment_type], [group_size]) VALUES (1, 1, 1, N'Assignment 1: Variables & Loops', N'Solve the 5 coding exercises.', CAST(N'2026-02-15' AS Date), NULL, CAST(N'2026-01-20T15:30:00.0000000' AS DateTime2), CAST(10.00 AS Decimal(5, 2)), N'Individual', NULL)
INSERT [dbo].[ASSIGNMENTS] ([assignment_id], [offering_id], [lecturer_id], [title], [description], [due_date], [file_url], [created_at], [weight], [assignment_type], [group_size]) VALUES (2, 2, 1, N'ER Diagram Project', N'Design an ER diagram for a bookshop.', CAST(N'2026-03-01' AS Date), NULL, CAST(N'2026-02-01T10:00:00.0000000' AS DateTime2), CAST(15.00 AS Decimal(5, 2)), N'Group', N'3-4')
INSERT [dbo].[ASSIGNMENTS] ([assignment_id], [offering_id], [lecturer_id], [title], [description], [due_date], [file_url], [created_at], [weight], [assignment_type], [group_size]) VALUES (3, 3, 2, N'Management Case Study', N'Analyse the provided case study.', CAST(N'2026-02-20' AS Date), NULL, CAST(N'2026-01-25T09:00:00.0000000' AS DateTime2), CAST(20.00 AS Decimal(5, 2)), N'Individual', NULL)
SET IDENTITY_INSERT [dbo].[ASSIGNMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([attendance_id], [enrolment_id], [attendance_date], [status]) VALUES (1, 1, CAST(N'2026-01-19' AS Date), N'PRESENT')
INSERT [dbo].[ATTENDANCE] ([attendance_id], [enrolment_id], [attendance_date], [status]) VALUES (2, 1, CAST(N'2026-01-26' AS Date), N'LATE')
INSERT [dbo].[ATTENDANCE] ([attendance_id], [enrolment_id], [attendance_date], [status]) VALUES (3, 2, CAST(N'2026-01-20' AS Date), N'PRESENT')
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[AUTH_TOKENS] ON 

INSERT [dbo].[AUTH_TOKENS] ([token_id], [user_id], [token_hash], [expires_at], [created_at]) VALUES (1, 1, N'a1b2c3d4e5f60718293a4b5c6d7e8f90112233445566778899aabbccddeeff00', CAST(N'2026-06-23T10:00:00.0000000' AS DateTime2), CAST(N'2026-05-24T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[AUTH_TOKENS] ([token_id], [user_id], [token_hash], [expires_at], [created_at]) VALUES (2, 4, N'00ffeeddccbbaa998877665544332211f09e8d7c6b5a493a281706f5e4d3c2b1', CAST(N'2026-06-23T11:00:00.0000000' AS DateTime2), CAST(N'2026-05-24T11:00:00.0000000' AS DateTime2))
INSERT [dbo].[AUTH_TOKENS] ([token_id], [user_id], [token_hash], [expires_at], [created_at]) VALUES (3, 3, N'1122334455667788990011223344556677889900aabbccddeeff00112233abcd', CAST(N'2026-06-23T12:00:00.0000000' AS DateTime2), CAST(N'2026-05-24T12:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AUTH_TOKENS] OFF
GO
SET IDENTITY_INSERT [dbo].[COURSE_MATERIALS] ON 

INSERT [dbo].[COURSE_MATERIALS] ([material_id], [offering_id], [lecturer_id], [title], [description], [week], [file_url], [uploaded_at], [module_id], [file_type], [file_size_bytes]) VALUES (1, 1, 1, N'Lecture 1 Slides', N'Intro to programming.', 1, NULL, CAST(N'2026-01-13T08:00:00.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[COURSE_MATERIALS] ([material_id], [offering_id], [lecturer_id], [title], [description], [week], [file_url], [uploaded_at], [module_id], [file_type], [file_size_bytes]) VALUES (2, 1, 1, N'Lab 1 Worksheet', N'Hands-on exercises.', 2, NULL, CAST(N'2026-01-20T08:00:00.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[COURSE_MATERIALS] ([material_id], [offering_id], [lecturer_id], [title], [description], [week], [file_url], [uploaded_at], [module_id], [file_type], [file_size_bytes]) VALUES (3, 2, 1, N'Normalization Notes', N'1NF to 3NF explained.', 1, NULL, CAST(N'2026-01-14T08:00:00.0000000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[COURSE_MATERIALS] OFF
GO
SET IDENTITY_INSERT [dbo].[COURSE_OFFERINGS] ON 

INSERT [dbo].[COURSE_OFFERINGS] ([offering_id], [course_id], [semester_id], [capacity]) VALUES (1, 1, 3, NULL)
INSERT [dbo].[COURSE_OFFERINGS] ([offering_id], [course_id], [semester_id], [capacity]) VALUES (2, 2, 3, NULL)
INSERT [dbo].[COURSE_OFFERINGS] ([offering_id], [course_id], [semester_id], [capacity]) VALUES (3, 3, 3, NULL)
SET IDENTITY_INSERT [dbo].[COURSE_OFFERINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[COURSES] ON 

INSERT [dbo].[COURSES] ([course_id], [course_name], [course_code], [programme_id], [credit_hours], [color], [description], [level_label], [mode], [contact_hours], [prerequisites], [textbook], [office_hours], [fee_per_credit]) VALUES (1, N'Programming Fundamentals', N'CS101', 1, 3, N'#e0162b', N'Core programming concepts: variables, control flow, functions, and problem solving.', N'Y1 - Trimester 1', N'On-campus + LMS', N'3h lecture, 2h lab', N'None', N'Savitch, Absolute C++ 6th ed.', N'Tue 14:00 - 16:00', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[COURSES] ([course_id], [course_name], [course_code], [programme_id], [credit_hours], [color], [description], [level_label], [mode], [contact_hours], [prerequisites], [textbook], [office_hours], [fee_per_credit]) VALUES (2, N'Database Systems', N'CS201', 1, 4, N'#3b82f6', N'Relational modelling, SQL, normalization, and transaction basics.', N'Y2 - Trimester 1', N'On-campus + LMS', N'3h lecture, 1h lab', N'CS101 Programming Fundamentals', N'Elmasri, Fundamentals of Database Systems 7th ed.', N'Wed 10:00 - 12:00', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[COURSES] ([course_id], [course_name], [course_code], [programme_id], [credit_hours], [color], [description], [level_label], [mode], [contact_hours], [prerequisites], [textbook], [office_hours], [fee_per_credit]) VALUES (3, N'Principles of Management', N'BA101', 2, 3, N'#f59e0b', N'Introduction to management principles, planning, leadership, and organizational decision making.', N'Y1 - Trimester 1', N'On-campus + LMS', N'3h lecture', N'None', N'Robbins, Management 15th ed.', N'Thu 13:00 - 15:00', CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[COURSES] OFF
GO
SET IDENTITY_INSERT [dbo].[EMAILS] ON 

INSERT [dbo].[EMAILS] ([email_id], [user_id], [recipient_email], [subject], [body], [email_type], [otp_code], [otp_expires_at], [sent_at], [status]) VALUES (1, 1, N'p26017888@student.newinti.edu.my', N'Your login OTP code', N'Your OTP is 482913. Valid for 10 minutes.', N'OTP', N'482913', CAST(N'2026-05-24T10:10:00.0000000' AS DateTime2), CAST(N'2026-05-24T10:00:00.0000000' AS DateTime2), N'SENT')
INSERT [dbo].[EMAILS] ([email_id], [user_id], [recipient_email], [subject], [body], [email_type], [otp_code], [otp_expires_at], [sent_at], [status]) VALUES (2, 4, N'p26017001@student.newinti.edu.my', N'New assignment posted', N'Assignment 1 for CS101 is now available.', N'NOTIFICATION', NULL, NULL, CAST(N'2026-01-20T15:35:00.0000000' AS DateTime2), N'SENT')
INSERT [dbo].[EMAILS] ([email_id], [user_id], [recipient_email], [subject], [body], [email_type], [otp_code], [otp_expires_at], [sent_at], [status]) VALUES (3, 5, N'p26017002@student.newinti.edu.my', N'Campus maintenance', N'Library closes early on 9 March.', N'ANNOUNCEMENT', NULL, NULL, NULL, N'PENDING')
SET IDENTITY_INSERT [dbo].[EMAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[ENROLMENTS] ON 

INSERT [dbo].[ENROLMENTS] ([enrolment_id], [student_id], [offering_id], [status]) VALUES (1, 1, 1, N'ENROLLED')
INSERT [dbo].[ENROLMENTS] ([enrolment_id], [student_id], [offering_id], [status]) VALUES (2, 1, 2, N'ENROLLED')
INSERT [dbo].[ENROLMENTS] ([enrolment_id], [student_id], [offering_id], [status]) VALUES (3, 2, 1, N'ENROLLED')
SET IDENTITY_INSERT [dbo].[ENROLMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[GRADES] ON 

INSERT [dbo].[GRADES] ([grade_id], [enrolment_id], [marks], [gpa], [grade], [published]) VALUES (1, 1, CAST(78.50 AS Decimal(5, 2)), CAST(3.30 AS Decimal(3, 2)), N'B+', 1)
INSERT [dbo].[GRADES] ([grade_id], [enrolment_id], [marks], [gpa], [grade], [published]) VALUES (2, 2, CAST(88.00 AS Decimal(5, 2)), CAST(3.70 AS Decimal(3, 2)), N'A-', 1)
INSERT [dbo].[GRADES] ([grade_id], [enrolment_id], [marks], [gpa], [grade], [published]) VALUES (3, 3, CAST(65.00 AS Decimal(5, 2)), CAST(2.70 AS Decimal(3, 2)), N'B-', 0)
SET IDENTITY_INSERT [dbo].[GRADES] OFF
GO
SET IDENTITY_INSERT [dbo].[LEARNING_OUTCOMES] ON 

INSERT [dbo].[LEARNING_OUTCOMES] ([outcome_id], [course_id], [outcome_text], [sort_order]) VALUES (7, 1, N'Write and debug structured programs using core language constructs.', 1)
INSERT [dbo].[LEARNING_OUTCOMES] ([outcome_id], [course_id], [outcome_text], [sort_order]) VALUES (8, 1, N'Decompose problems into functions and reusable components.', 2)
INSERT [dbo].[LEARNING_OUTCOMES] ([outcome_id], [course_id], [outcome_text], [sort_order]) VALUES (9, 1, N'Apply basic data structures to practical tasks.', 3)
SET IDENTITY_INSERT [dbo].[LEARNING_OUTCOMES] OFF
GO
SET IDENTITY_INSERT [dbo].[LECTURERS] ON 

INSERT [dbo].[LECTURERS] ([lecturer_id], [user_id], [full_name], [department]) VALUES (1, 3, N'Dr. Sarah Tan', N'Computer Science')
INSERT [dbo].[LECTURERS] ([lecturer_id], [user_id], [full_name], [department]) VALUES (2, 7, N'Dr. James Lim', N'Business')
INSERT [dbo].[LECTURERS] ([lecturer_id], [user_id], [full_name], [department]) VALUES (3, 8, N'Ms. Aisha Rahman', N'Information Technology')
SET IDENTITY_INSERT [dbo].[LECTURERS] OFF
GO
SET IDENTITY_INSERT [dbo].[MODULES] ON 

INSERT [dbo].[MODULES] ([module_id], [offering_id], [week], [title], [description]) VALUES (6, 1, 1, N'Introduction & Setup', N'Course logistics, toolchain, first program.')
INSERT [dbo].[MODULES] ([module_id], [offering_id], [week], [title], [description]) VALUES (7, 1, 2, N'Variables & Control Flow', N'Types, operators, conditionals, loops.')
INSERT [dbo].[MODULES] ([module_id], [offering_id], [week], [title], [description]) VALUES (8, 1, 3, N'Functions & Arrays', N'Defining functions, parameters, arrays.')
SET IDENTITY_INSERT [dbo].[MODULES] OFF
GO
INSERT [dbo].[NOTIFICATION_READS] ([user_id], [announcement_id], [read_at]) VALUES (1, 2, CAST(N'2026-05-27T16:56:54.8338662' AS DateTime2))
INSERT [dbo].[NOTIFICATION_READS] ([user_id], [announcement_id], [read_at]) VALUES (1, 3, CAST(N'2026-05-27T16:56:57.9298109' AS DateTime2))
INSERT [dbo].[NOTIFICATION_READS] ([user_id], [announcement_id], [read_at]) VALUES (1, 4, CAST(N'2026-05-27T16:56:57.6752745' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[PAYMENTS] ON 

INSERT [dbo].[PAYMENTS] ([payment_id], [enrolment_id], [amount], [status], [payment_date]) VALUES (1, 1, CAST(1500.00 AS Decimal(10, 2)), N'PAID', CAST(N'2026-01-10T09:15:00.0000000' AS DateTime2))
INSERT [dbo].[PAYMENTS] ([payment_id], [enrolment_id], [amount], [status], [payment_date]) VALUES (2, 2, CAST(2000.00 AS Decimal(10, 2)), N'PENDING', NULL)
INSERT [dbo].[PAYMENTS] ([payment_id], [enrolment_id], [amount], [status], [payment_date]) VALUES (3, 3, CAST(1500.00 AS Decimal(10, 2)), N'PAID', CAST(N'2026-01-11T14:20:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PAYMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROGRAMMES] ON 

INSERT [dbo].[PROGRAMMES] ([programme_id], [programme_name], [programme_code], [description]) VALUES (1, N'Bachelor of Computer Science', N'BCS', N'3-year honours degree in computing.')
INSERT [dbo].[PROGRAMMES] ([programme_id], [programme_name], [programme_code], [description]) VALUES (2, N'Bachelor of Business Administration', N'BBA', N'Management and business studies.')
INSERT [dbo].[PROGRAMMES] ([programme_id], [programme_name], [programme_code], [description]) VALUES (3, N'Diploma in Information Technology', N'DIT', N'2-year foundational IT diploma.')
SET IDENTITY_INSERT [dbo].[PROGRAMMES] OFF
GO
SET IDENTITY_INSERT [dbo].[SEMESTERS] ON 

INSERT [dbo].[SEMESTERS] ([semester_id], [name], [start_date], [end_date], [is_current]) VALUES (1, N'2025-S3', CAST(N'2025-08-04' AS Date), CAST(N'2025-12-12' AS Date), 0)
INSERT [dbo].[SEMESTERS] ([semester_id], [name], [start_date], [end_date], [is_current]) VALUES (2, N'2026-S1', CAST(N'2026-01-12' AS Date), CAST(N'2026-03-20' AS Date), 0)
INSERT [dbo].[SEMESTERS] ([semester_id], [name], [start_date], [end_date], [is_current]) VALUES (3, N'2026-S2', CAST(N'2026-04-06' AS Date), CAST(N'2026-07-17' AS Date), 1)
SET IDENTITY_INSERT [dbo].[SEMESTERS] OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENT_ASSESSMENTS] ON 

INSERT [dbo].[STUDENT_ASSESSMENTS] ([student_assessment_id], [assessment_id], [student_id], [marks]) VALUES (4, 6, 1, CAST(92.00 AS Decimal(5, 2)))
INSERT [dbo].[STUDENT_ASSESSMENTS] ([student_assessment_id], [assessment_id], [student_id], [marks]) VALUES (5, 7, 1, CAST(85.00 AS Decimal(5, 2)))
INSERT [dbo].[STUDENT_ASSESSMENTS] ([student_assessment_id], [assessment_id], [student_id], [marks]) VALUES (6, 8, 1, CAST(88.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[STUDENT_ASSESSMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENTS] ON 

INSERT [dbo].[STUDENTS] ([student_id], [user_id], [programme_id], [full_name], [date_of_birth], [status], [intake_semester_id]) VALUES (1, 1, 1, N'Ong Zhi Bo', CAST(N'2003-04-15' AS Date), N'ACTIVE', 1)
INSERT [dbo].[STUDENTS] ([student_id], [user_id], [programme_id], [full_name], [date_of_birth], [status], [intake_semester_id]) VALUES (2, 4, 1, N'Lee Wei Ming', CAST(N'2004-07-22' AS Date), N'ACTIVE', 2)
INSERT [dbo].[STUDENTS] ([student_id], [user_id], [programme_id], [full_name], [date_of_birth], [status], [intake_semester_id]) VALUES (3, 5, 2, N'Nurul Huda', CAST(N'2003-11-03' AS Date), N'ACTIVE', 3)
SET IDENTITY_INSERT [dbo].[STUDENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBMISSIONS] ON 

INSERT [dbo].[SUBMISSIONS] ([submission_id], [assignment_id], [student_id], [file_url], [submit_date], [status], [marks]) VALUES (1, 1, 1, N'/uploads/sub_a1_s1.zip', CAST(N'2026-02-14T22:10:00.0000000' AS DateTime2), N'SUBMITTED', NULL)
INSERT [dbo].[SUBMISSIONS] ([submission_id], [assignment_id], [student_id], [file_url], [submit_date], [status], [marks]) VALUES (2, 1, 2, N'/uploads/sub_a1_s2.zip', CAST(N'2026-02-13T18:45:00.0000000' AS DateTime2), N'MARKED', CAST(85.00 AS Decimal(5, 2)))
INSERT [dbo].[SUBMISSIONS] ([submission_id], [assignment_id], [student_id], [file_url], [submit_date], [status], [marks]) VALUES (3, 2, 1, N'/uploads/sub_a2_s1.pdf', CAST(N'2026-02-28T20:00:00.0000000' AS DateTime2), N'SUBMITTED', NULL)
SET IDENTITY_INSERT [dbo].[SUBMISSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[TEACHINGS] ON 

INSERT [dbo].[TEACHINGS] ([teaching_id], [lecturer_id], [offering_id]) VALUES (1, 1, 1)
INSERT [dbo].[TEACHINGS] ([teaching_id], [lecturer_id], [offering_id]) VALUES (2, 1, 2)
INSERT [dbo].[TEACHINGS] ([teaching_id], [lecturer_id], [offering_id]) VALUES (5, 1, 5)
SET IDENTITY_INSERT [dbo].[TEACHINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIMETABLES] ON 

INSERT [dbo].[TIMETABLES] ([timetable_id], [offering_id], [venue], [day_of_week], [start_time], [end_time]) VALUES (1, 1, N'Room A1-01', N'Monday', CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[TIMETABLES] ([timetable_id], [offering_id], [venue], [day_of_week], [start_time], [end_time]) VALUES (2, 2, N'Room B2-03', N'Monday', CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[TIMETABLES] ([timetable_id], [offering_id], [venue], [day_of_week], [start_time], [end_time]) VALUES (3, 3, N'Room C3-12', N'Wednesday', CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[TIMETABLES] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([user_id], [username], [password_hash], [email], [role], [created_at], [phone], [mailing_address], [icon_path]) VALUES (1, N'p26017888', N'1f3ce40415a2081fa3eee75fc39fff8e56c22270d1a978a7249b592dcebd20b4', N'p26017888@student.newinti.edu.my', N'STUDENT', CAST(N'2026-05-24T17:37:36.1014693' AS DateTime2), N'+60 12-345 6789', N'INTI International College Penang, Bayan Lepas, Penang', N'img/inti_logo.png')
INSERT [dbo].[USERS] ([user_id], [username], [password_hash], [email], [role], [created_at], [phone], [mailing_address], [icon_path]) VALUES (2, N'admin', N'1f3ce40415a2081fa3eee75fc39fff8e56c22270d1a978a7249b592dcebd20b4', N'admin@newinti.edu.my', N'ADMIN', CAST(N'2026-05-24T17:37:36.1014693' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[USERS] ([user_id], [username], [password_hash], [email], [role], [created_at], [phone], [mailing_address], [icon_path]) VALUES (3, N'lecturer', N'1f3ce40415a2081fa3eee75fc39fff8e56c22270d1a978a7249b592dcebd20b4', N'lecturer@lecturer.newinti.edu.my', N'LECTURER', CAST(N'2026-05-24T17:37:36.1014693' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
/****** Object:  Index [uq_announcement_offering]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS] ADD  CONSTRAINT [uq_announcement_offering] UNIQUE NONCLUSTERED 
(
	[announcement_id] ASC,
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_attendance_record]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[ATTENDANCE] ADD  CONSTRAINT [uq_attendance_record] UNIQUE NONCLUSTERED 
(
	[enrolment_id] ASC,
	[attendance_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AUTH_TOKENS_token_hash]    Script Date: 28/05/2026 01:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AUTH_TOKENS_token_hash] ON [dbo].[AUTH_TOKENS]
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_course_semester]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[COURSE_OFFERINGS] ADD  CONSTRAINT [uq_course_semester] UNIQUE NONCLUSTERED 
(
	[course_id] ASC,
	[semester_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COURSES__AB6B45F1797377DA]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[COURSES] ADD UNIQUE NONCLUSTERED 
(
	[course_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_student_offering]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[ENROLMENTS] ADD  CONSTRAINT [uq_student_offering] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GRADES__3414600A593CB4E4]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[GRADES] ADD UNIQUE NONCLUSTERED 
(
	[enrolment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__LECTURER__B9BE370EBC5A6DB0]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[LECTURERS] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NOTIFICATION_READS_announcement_id]    Script Date: 28/05/2026 01:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_NOTIFICATION_READS_announcement_id] ON [dbo].[NOTIFICATION_READS]
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROGRAMM__CF41A7BF31FC8558]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[PROGRAMMES] ADD UNIQUE NONCLUSTERED 
(
	[programme_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__STUDENTS__B9BE370E3BE64263]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[STUDENTS] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_assignment_student]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[SUBMISSIONS] ADD  CONSTRAINT [uq_assignment_student] UNIQUE NONCLUSTERED 
(
	[assignment_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_lecturer_offering]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[TEACHINGS] ADD  CONSTRAINT [uq_lecturer_offering] UNIQUE NONCLUSTERED 
(
	[lecturer_id] ASC,
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__AB6E616493DF132D]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__F3DBC572FF554EFC]    Script Date: 28/05/2026 01:04:02 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS] ADD  CONSTRAINT [DF_ANN_is_pinned]  DEFAULT ((0)) FOR [is_pinned]
GO
ALTER TABLE [dbo].[ASSESSMENTS] ADD  CONSTRAINT [DF_ASSESS_max]  DEFAULT ((100)) FOR [max_marks]
GO
ALTER TABLE [dbo].[ASSIGNMENTS] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[AUTH_TOKENS] ADD  CONSTRAINT [DF_AUTH_TOKENS_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] ADD  DEFAULT (sysdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[EMAILS] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[ENROLMENTS] ADD  DEFAULT ('ENROLLED') FOR [status]
GO
ALTER TABLE [dbo].[GRADES] ADD  DEFAULT ((0)) FOR [published]
GO
ALTER TABLE [dbo].[NOTIFICATION_READS] ADD  CONSTRAINT [DF_NOTIFICATION_READS_read_at]  DEFAULT (sysutcdatetime()) FOR [read_at]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[SEMESTERS] ADD  DEFAULT ((0)) FOR [is_current]
GO
ALTER TABLE [dbo].[STUDENTS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[SUBMISSIONS] ADD  DEFAULT (sysdatetime()) FOR [submit_date]
GO
ALTER TABLE [dbo].[SUBMISSIONS] ADD  DEFAULT ('SUBMITTED') FOR [status]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR]  WITH CHECK ADD  CONSTRAINT [fk_calendar_semester] FOREIGN KEY([semester_id])
REFERENCES [dbo].[SEMESTERS] ([semester_id])
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR] CHECK CONSTRAINT [fk_calendar_semester]
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS]  WITH CHECK ADD  CONSTRAINT [fk_target_announcement] FOREIGN KEY([announcement_id])
REFERENCES [dbo].[ANNOUNCEMENTS] ([announcement_id])
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS] CHECK CONSTRAINT [fk_target_announcement]
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS]  WITH CHECK ADD  CONSTRAINT [fk_target_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS] CHECK CONSTRAINT [fk_target_offering]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS]  WITH CHECK ADD  CONSTRAINT [fk_announcement_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS] CHECK CONSTRAINT [fk_announcement_user]
GO
ALTER TABLE [dbo].[ASSIGNMENTS]  WITH CHECK ADD  CONSTRAINT [fk_assignment_lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[ASSIGNMENTS] CHECK CONSTRAINT [fk_assignment_lecturer]
GO
ALTER TABLE [dbo].[ASSIGNMENTS]  WITH CHECK ADD  CONSTRAINT [fk_assignment_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[ASSIGNMENTS] CHECK CONSTRAINT [fk_assignment_offering]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [fk_attendance_enrolment] FOREIGN KEY([enrolment_id])
REFERENCES [dbo].[ENROLMENTS] ([enrolment_id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [fk_attendance_enrolment]
GO
ALTER TABLE [dbo].[AUTH_TOKENS]  WITH CHECK ADD  CONSTRAINT [FK_AUTH_TOKENS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[AUTH_TOKENS] CHECK CONSTRAINT [FK_AUTH_TOKENS_USERS]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS]  WITH CHECK ADD  CONSTRAINT [fk_material_lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] CHECK CONSTRAINT [fk_material_lecturer]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS]  WITH CHECK ADD  CONSTRAINT [fk_material_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] CHECK CONSTRAINT [fk_material_offering]
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS]  WITH CHECK ADD  CONSTRAINT [fk_offering_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSES] ([course_id])
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS] CHECK CONSTRAINT [fk_offering_course]
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS]  WITH CHECK ADD  CONSTRAINT [fk_offering_semester] FOREIGN KEY([semester_id])
REFERENCES [dbo].[SEMESTERS] ([semester_id])
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS] CHECK CONSTRAINT [fk_offering_semester]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [fk_courses_programme] FOREIGN KEY([programme_id])
REFERENCES [dbo].[PROGRAMMES] ([programme_id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [fk_courses_programme]
GO
ALTER TABLE [dbo].[EMAILS]  WITH CHECK ADD  CONSTRAINT [fk_email_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EMAILS] CHECK CONSTRAINT [fk_email_user]
GO
ALTER TABLE [dbo].[ENROLMENTS]  WITH CHECK ADD  CONSTRAINT [fk_enrolment_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[ENROLMENTS] CHECK CONSTRAINT [fk_enrolment_offering]
GO
ALTER TABLE [dbo].[ENROLMENTS]  WITH CHECK ADD  CONSTRAINT [fk_enrolment_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[ENROLMENTS] CHECK CONSTRAINT [fk_enrolment_student]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD  CONSTRAINT [fk_grade_enrolment] FOREIGN KEY([enrolment_id])
REFERENCES [dbo].[ENROLMENTS] ([enrolment_id])
GO
ALTER TABLE [dbo].[GRADES] CHECK CONSTRAINT [fk_grade_enrolment]
GO
ALTER TABLE [dbo].[LECTURERS]  WITH CHECK ADD  CONSTRAINT [fk_lecturer_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[LECTURERS] CHECK CONSTRAINT [fk_lecturer_user]
GO
ALTER TABLE [dbo].[NOTIFICATION_READS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICATION_READS_ANNOUNCEMENTS] FOREIGN KEY([announcement_id])
REFERENCES [dbo].[ANNOUNCEMENTS] ([announcement_id])
GO
ALTER TABLE [dbo].[NOTIFICATION_READS] CHECK CONSTRAINT [FK_NOTIFICATION_READS_ANNOUNCEMENTS]
GO
ALTER TABLE [dbo].[NOTIFICATION_READS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICATION_READS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[NOTIFICATION_READS] CHECK CONSTRAINT [FK_NOTIFICATION_READS_USERS]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [fk_payment_enrolment] FOREIGN KEY([enrolment_id])
REFERENCES [dbo].[ENROLMENTS] ([enrolment_id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [fk_payment_enrolment]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [fk_student_intake_semester] FOREIGN KEY([intake_semester_id])
REFERENCES [dbo].[SEMESTERS] ([semester_id])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [fk_student_intake_semester]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [fk_student_programme] FOREIGN KEY([programme_id])
REFERENCES [dbo].[PROGRAMMES] ([programme_id])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [fk_student_programme]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [fk_student_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [fk_student_user]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [fk_submission_assignment] FOREIGN KEY([assignment_id])
REFERENCES [dbo].[ASSIGNMENTS] ([assignment_id])
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [fk_submission_assignment]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [fk_submission_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [fk_submission_student]
GO
ALTER TABLE [dbo].[TEACHINGS]  WITH CHECK ADD  CONSTRAINT [fk_teaching_lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[TEACHINGS] CHECK CONSTRAINT [fk_teaching_lecturer]
GO
ALTER TABLE [dbo].[TEACHINGS]  WITH CHECK ADD  CONSTRAINT [fk_teaching_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[TEACHINGS] CHECK CONSTRAINT [fk_teaching_offering]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [fk_timetable_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [fk_timetable_offering]
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR]  WITH CHECK ADD  CONSTRAINT [chk_calendar_dates] CHECK  (([end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR] CHECK CONSTRAINT [chk_calendar_dates]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [chk_attendance_status] CHECK  (([status]='LATE' OR [status]='ABSENT' OR [status]='PRESENT'))
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [chk_attendance_status]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS]  WITH CHECK ADD  CONSTRAINT [chk_material_week] CHECK  (([week] IS NULL OR [week]>(0)))
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] CHECK CONSTRAINT [chk_material_week]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [chk_credit_hours] CHECK  (([credit_hours]>(0)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [chk_credit_hours]
GO
ALTER TABLE [dbo].[EMAILS]  WITH CHECK ADD  CONSTRAINT [chk_email_status] CHECK  (([status]='FAILED' OR [status]='SENT' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[EMAILS] CHECK CONSTRAINT [chk_email_status]
GO
ALTER TABLE [dbo].[EMAILS]  WITH CHECK ADD  CONSTRAINT [chk_email_type] CHECK  (([email_type]='ANNOUNCEMENT' OR [email_type]='NOTIFICATION' OR [email_type]='OTP'))
GO
ALTER TABLE [dbo].[EMAILS] CHECK CONSTRAINT [chk_email_type]
GO
ALTER TABLE [dbo].[ENROLMENTS]  WITH CHECK ADD  CONSTRAINT [chk_enrolment_status] CHECK  (([status]='COMPLETED' OR [status]='DROPPED' OR [status]='ENROLLED'))
GO
ALTER TABLE [dbo].[ENROLMENTS] CHECK CONSTRAINT [chk_enrolment_status]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD  CONSTRAINT [chk_grade_gpa] CHECK  (([gpa] IS NULL OR [gpa]>=(0) AND [gpa]<=(4.00)))
GO
ALTER TABLE [dbo].[GRADES] CHECK CONSTRAINT [chk_grade_gpa]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD  CONSTRAINT [chk_grade_marks] CHECK  (([marks] IS NULL OR [marks]>=(0) AND [marks]<=(100)))
GO
ALTER TABLE [dbo].[GRADES] CHECK CONSTRAINT [chk_grade_marks]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [chk_payment_amount] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [chk_payment_amount]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [chk_payment_status] CHECK  (([status]='REFUNDED' OR [status]='FAILED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [chk_payment_status]
GO
ALTER TABLE [dbo].[SEMESTERS]  WITH CHECK ADD  CONSTRAINT [chk_semester_dates] CHECK  (([end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[SEMESTERS] CHECK CONSTRAINT [chk_semester_dates]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [chk_student_status] CHECK  (([status]='SUSPENDED' OR [status]='GRADUATED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [chk_student_status]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [chk_submission_marks] CHECK  (([marks] IS NULL OR [marks]>=(0) AND [marks]<=(100)))
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [chk_submission_marks]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [chk_submission_status] CHECK  (([status]='RESUBMITTED' OR [status]='MARKED' OR [status]='LATE' OR [status]='SUBMITTED'))
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [chk_submission_status]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [chk_timetable_day] CHECK  (([day_of_week]='Sunday' OR [day_of_week]='Saturday' OR [day_of_week]='Friday' OR [day_of_week]='Thursday' OR [day_of_week]='Wednesday' OR [day_of_week]='Tuesday' OR [day_of_week]='Monday'))
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [chk_timetable_day]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [chk_timetable_time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [chk_timetable_time]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [chk_users_role] CHECK  (([role]='STUDENT' OR [role]='LECTURER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [chk_users_role]
GO
USE [master]
GO
