<smtp deliveryMethod="Network" from="INTI Student Portal &lt;merchsystem@gmail.com&gt;">
  <network host="smtp.gmail.com" port="587"
           userName="merchsystem@gmail.com"
           password=""
           enableSsl="true" />
</smtp>
